/* reset */

html,body,div,span,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,fieldset { margin: 0; padding: 0; }
ul,ol { list-style: none; }
img,fieldset { border: none; }
a { outline: 0; }

body { font-family: Georgia, Times, serif; }

/* HTML5 blocks for Firefox */

section, nav, article, aside, hgroup, header, footer { display: block }

#board {
  margin-left: 20px;
  overflow: hidden;
  clear: both;
}

  #board .column {
    margin: 5px 5px 0 0;
    padding: 5px;
    width: 300px;
    float: left;
    padding-bottom: 50px;

    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
  }

  #board.sorting .column { background-color: #F4F4F4; }

.card {
  width: 290px;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #F8E065;
  border: 1px solid transparent;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

  -moz-box-shadow:    5px 5px 5px rgba(100,100,100,0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.5);
  box-shadow:         5px 5px 5px rgba(100,100,100,0.5);
}

.sortable .card {
  cursor: url(grab.cur);
  cursor: -moz-grab;
}

.sortable .card.ui-sortable-helper,
.sortable .card.ui-draggable-dragging {
  cursor: move;
  cursor: url(grabbing.cur);
  cursor: -moz-grabbing;
}

.card.yellow { background-color: #F8E065; }
.card.orange { background-color: #FAA919; }
.card.blue   { background-color: #12C2D9; }
.card.red    { background-color: #FF5A00; }
.card.green  { background-color: #35B44B; }

.card.transparent {
  background-color: rgba(255,255,255,0.5);
  border: 1px dashed #EEEEEE;

  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

.card.transparent:hover {
  border: 1px dashed #CCCCCC;
}

.card.placeholder {
  background-color: transparent;
  border-style: dashed;
  border-color: #CCCCCC;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

  .card .text { cursor: text; }
  .card .text[contenteditable=true] {
    background-color: rgba(255,255,255,0.5);
  }

/* Tags */

  .card .tag {
    background-color: rgba(255,255,255,0.4);
    padding: 0.1em 0.3em 0.1em 0.2em;
    cursor: pointer;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 1px 1px 1px rgba(100,100,100,0.5);
  }

  .card .tag.highlighted {
    background-color: rgba(255,255,255,0.8);
  }

  .card .tag.clicked {
    background-color: rgba(255,255,255,0.9);
    -moz-box-shadow: inset 1px 1px 1px rgba(100,100,100,0.5);
    -webkit-box-shadow: none; /* inset 1px 1px 1px rgba(100,100,100,0.5); looks like shit in Chrome */
    box-shadow: inset 1px 1px 1px rgba(100,100,100,0.5);
  }

  .card.transparent .tag             { background-color: rgba(235,235,235,0.4); }
  .card.transparent .tag.highlighted { background-color: rgba(235,235,235,0.8); }
  .card.transparent .tag.clicked     { background-color: rgba(235,235,235,0.9); }

#board.highlighted .card { opacity: 0.3 }

#board.highlighted .card.highlighted {
  opacity: 1;
  position: relative;
  top: -3px; left: -3px; 
  -moz-box-shadow: 8px 8px 5px rgba(100,100,100,0.3);
  -webkit-box-shadow: 8px 8px 5px rgba(100,100,100,0.3);
  box-shadow: 8px 8px 5px rgba(100,100,100,0.3);
}

/* Deck with new cards */

#deck {
  position: fixed;
  top: 40px; left: -290px;
}

  #deck .card {
    position: absolute;

    -moz-box-shadow:    2px 2px 5px rgba(100,100,100,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(100,100,100,0.5);
    box-shadow:         2px 2px 5px rgba(100,100,100,0.5);
  }

  #deck .card.transparent {
    border-color: #AAAAAA;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
  }

  #deck .card:nth-child(6) { top:   0px; }
  #deck .card:nth-child(5) { top:  30px; }
  #deck .card:nth-child(4) { top:  60px; }
  #deck .card:nth-child(3) { top:  90px; }
  #deck .card:nth-child(2) { top: 120px; }
  #deck .card:nth-child(1) { top: 150px; }

  #deck .card .text { 
    font-style: italic;
    font-size: 0.9em;
  }

/* Cards rotating CSS3 magic */

.card {
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}

.card:nth-of-type(2n) {
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
}

.column:nth-of-type(2n) .card:nth-of-type(2n) {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
}

